[project]
	description = "Submit patches to gerrithub https://review.gerrithub.io/#/q/project:rdo-management/instack-undercloud"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexander Chuzhoy (schuzhoy)
[access "refs/for/refs/*"]
	read = group user/Alexander Chuzhoy (schuzhoy)
	push = group user/Alexander Chuzhoy (schuzhoy)
	label-Code-Review = -2..+2 group user/Alexander Chuzhoy (schuzhoy)
	label-Verified = -1..+1 group user/Alexander Chuzhoy (schuzhoy)
	rebase = group user/Alexander Chuzhoy (schuzhoy)
	removeReviewer = group user/Alexander Chuzhoy (schuzhoy)
	submit = group user/Alexander Chuzhoy (schuzhoy)
[access "refs/heads/*"]
	read = group user/Alexander Chuzhoy (schuzhoy)
	create = group user/Alexander Chuzhoy (schuzhoy)
	push = +force group user/Alexander Chuzhoy (schuzhoy)
	pushMerge = group user/Alexander Chuzhoy (schuzhoy)
[access "refs/tags/*"]
	push = +force group user/Alexander Chuzhoy (schuzhoy)
	pushTag = group user/Alexander Chuzhoy (schuzhoy)
	pushSignedTag = group user/Alexander Chuzhoy (schuzhoy)
